---
layout: default
title: Kun Wang - Research
description: Kun Wang's research
category: research
---

<div class="inner">

<!-- -------------------------------------------------------------- -->
<!-- Papers ------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<h1>Papers</h1><a name="papers"></a>

<ul>
{% for paper in site.data.papers %}
  <div>
    <li> 
	    <p>{{ paper.author }}. <strong><i>{{ paper.title }}</i></strong>. {{ paper.publisher }}, {{ paper.year }}. {{ paper.notes }}. 
	    <u><a href="{{ paper.url }}">{{ paper.supplement }}</a></u></p>
	</li>
  </div>
{% endfor %}
</ul>

<hr></hr>

<!-- -------------------------------------------------------------- -->
<!-- Talks -------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<h1>Talks</h1><a name="talks"></a>

<ul>
{% for talk in site.data.talks %}
  <div>
    <li> 
	    <p><strong><i>{{ talk.title }}</i></strong>, {{ talk.placedate }}
	    <u><a href="{{ talk.url }}">{{ talk.supplement }}</a></u></p>
	</li>
  </div>
{% endfor %}
</ul>

<hr></hr>

<!-- -------------------------------------------------------------- -->
<!-- Research Statement ------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<h1>Research Statement</h1><a name="statement"></a>

<div>
Here goes my research statement.
</div>

<hr></hr>

<!-- -------------------------------------------------------------- -->
<!-- Resume ------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<h1>Resume</h1><a name="resume"></a>

<div>
Here is my Resume.
</div>

<hr></hr>

<!-- -------------------------------------------------------------- -->
<!-- Contact ------------------------------------------------------ -->
<!-- -------------------------------------------------------------- -->
<h1>Contact</h1><a name="contact"></a>

<div>
    Interested? Here's my <a href="https://github.com/kun-wang">Github</a> and <a href="http://kun-wang.github.io/files/kunwang-resume.pdf">resume</a>, get in touch.
</div>

<hr></hr>

<!-- -------------------------------------------------------------- -->
<!-- Resources ---------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<h1>Resources</h1><a name="resource"></a>

<div>
Here goes a collection of resources.
</div>
